<mat-sidenav-container class="sidenav-container">

  <!--  side nav links starts-->

  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>

    <mat-nav-list *ngIf="authService.user$ | async">
      <a mat-list-item routerLink="posts" fragment="Posts">Posts list</a>
    </mat-nav-list>

    <mat-nav-list *ngIf="authService.user$ | async">
      <a mat-list-item routerLink="login" (click)="authService.singOut()" fragment="Posts">Log out</a>
    </mat-nav-list>

    <mat-nav-list *ngIf="!(authService.user$ | async)">
      <a mat-list-item routerLink="posts" (click)="authService.singIn()" fragment="Posts">Log in</a>
    </mat-nav-list>
  </mat-sidenav>

  <!--  side nav links ends-->

  <mat-sidenav-content>

    <!--    toolbar starts-->

    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{breadCrumb | async}}</span>
      <span class="example-spacer"></span>
      <div *ngIf="authService.user$ | async" class="content">
        <img [src]="authService.user$.value?.photoURL" alt="logo" class="logo">
        <div class="info">
          <h1 class="username">{{authService.user$.value?.displayName}}</h1>
          <p class="email">{{authService.user$.value?.email}}</p>
        </div>
      </div>
    </mat-toolbar>

    <!--    toolbar ends -->

    <!--    router outlet starts-->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <!--    router outlet ends-->


  </mat-sidenav-content>
</mat-sidenav-container>
